:root {
  color-scheme: dark light;
}

html,
body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  --markdown-font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;
  --vscode-editor-font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
  --markdown-font-size: 14px;
  --markdown-line-height: 22px;
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

body.vscode-dark {
  --vscode-editor-background: #1e1e1e;
  --vscode-editor-foreground: #d4d4d4;
  --vscode-textLink-foreground: #4daafc;
  --vscode-textLink-activeForeground: #4daafc;
  --vscode-textCodeBlock-background: #0f0f0f66;
  --vscode-widget-border: #3c3c3c;
  --vscode-textPreformat-foreground: #d7ba7d;
}

body.vscode-light {
  --vscode-editor-background: #ffffff;
  --vscode-editor-foreground: #333333;
  --vscode-textLink-foreground: #006ab1;
  --vscode-textLink-activeForeground: #006ab1;
  --vscode-textCodeBlock-background: #f8f8f8;
  --vscode-widget-border: #d4d4d4;
  --vscode-textPreformat-foreground: #a31515;
}

.preview {
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

.preview a {
  color: var(--vscode-textLink-foreground);
}

.preview code {
  color: var(--vscode-textPreformat-foreground);
}
